.gl-responsive-table-row{ id: dom_id(runner) }
  .table-section.section-10.section-wrap
    .table-mobile-header{ role: 'rowheader' }= _('Type')
    .table-mobile-content
      - if runner.instance_type?
        %span.badge.badge-success 共享的
      - elsif runner.group_type?
        %span.badge.badge-success 群组
      - else
        %span.badge.badge-info 特定的
      - if runner.locked?
        %span.badge.badge-warning 锁定的
      - unless runner.active?
        %span.badge.badge-danger 暂停的

  .table-section.section-10
    .table-mobile-header{ role: 'rowheader' }= _('Runner token')
    .table-mobile-content
      = link_to runner.short_sha, admin_runner_path(runner)

  .table-section.section-15
    .table-mobile-header{ role: 'rowheader' }= _('Description')
    .table-mobile-content.str-truncated.has-tooltip{ title: runner.description }
      = runner.description

  .table-section.section-15
    .table-mobile-header{ role: 'rowheader' }= _('Version')
    .table-mobile-content.str-truncated.has-tooltip{ title: runner.version }
      = runner.version

  .table-section.section-10
    .table-mobile-header{ role: 'rowheader' }= _('IP Address')
    .table-mobile-content
      = runner.ip_address

  .table-section.section-5
    .table-mobile-header{ role: 'rowheader' }= _('Projects')
    .table-mobile-content
      - if runner.instance_type? || runner.group_type?
        = _('n/a')
      - else
        = runner.projects.count(:all)

  .table-section.section-5
    .table-mobile-header{ role: 'rowheader' }= _('Jobs')
    .table-mobile-content
      = runner.builds.count(:all)

  .table-section.section-10.section-wrap
    .table-mobile-header{ role: 'rowheader' }= _('Tags')
    .table-mobile-content
      - runner.tag_list.sort.each do |tag|
        %span.badge.badge-primary
          = tag

  .table-section.section-10
    .table-mobile-header{ role: 'rowheader' }= _('Last contact')
    .table-mobile-content
      - if runner.contacted_at
        = time_ago_with_tooltip runner.contacted_at
      - else
        = _('Never')

  .table-section.table-button-footer.section-10
    .btn-group.table-action-buttons
      .btn-group
        = link_to admin_runner_path(runner), class: 'btn btn-default has-tooltip', title: _('Edit'), ref: 'tooltip', aria: { label: _('Edit') }, data: { placement: 'top', container: 'body'} do
          = icon('pencil')
      .btn-group
        - if runner.active?
          = link_to [:pause, :admin, runner], method: :get, class: 'btn btn-default has-tooltip', title: _('Pause'), ref: 'tooltip', aria: { label: _('Pause') }, data: { placement: 'top', container: 'body', confirm: _('Are you sure?') } do
            = icon('pause')
        - else
          = link_to [:resume, :admin, runner], method: :get, class: 'btn btn-default has-tooltip', title: _('Resume'), ref: 'tooltip', aria: { label: _('Resume') }, data: { placement: 'top', container: 'body'} do
            = icon('play')
      .btn-group
        = link_to [:admin, runner], method: :delete, class: 'btn btn-danger has-tooltip', title: _('Remove'), ref: 'tooltip', aria: { label: _('Remove') }, data: { placement: 'top', container: 'body', confirm: _('Are you sure?') } do
          = icon('remove')
